html, body {
  background-color: #eeeeee;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

footer {
  align-items: center;
  background-color: #222831;
  bottom: 0;
  color: #eeeeee;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  height: 75px;
  position: fixed;
  width: 100%;
}

h6 {
  margin: 0;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 3px solid #296ddb;
  color: #296ddb;
}

nav img {
  margin-left: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

nav li {
  align-items: center;
  color: #eeeeee;
  display: flex;
  height: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1rem;
  height: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bottom-container {
  background-color: #393e46;
  height: 100%;
  width: 100%;
}

.copyright-container {
  display: flex;
  margin-left: 30px;
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  margin-left: 5px;
  width: 18px;
}

.middle-container {
  height: 60vh;
  position: relative;
  width: 100%;
}

.navbar-container {
  background-color: #393e46;
  height: 58px;
  width: 100%;
}

.navbar-links-container {
  float: left;
  height: 100%;
  margin-left: 40px;
  width: 31%;
}

.navbar-login-container {
  background-color: #222831;
  height: 35px;
}

.navbar-login-container img {
  float: right;
  height: 25px;
  margin-right: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
}

#d2logo-container {
  display: inline-block;
  float: left;
  height: 100%;
}

#dot-container {
  bottom: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

#footer-links-container {
  display: flex;
  font-size: 15px;
  margin-left: auto;
  margin-right: 30px;
}

#footer-links-container ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 200px;
}

#footer-links-container li {

}

#middle-container-bg-image {
  display: block;
  height: 100%;
  width: 100%;
}

#middle-container-bg-image-container {
  height: 100%;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {

  .navbar-links-container li {
    display: none;
  }

  .menu {
    background-color: #eeeeee;
    height: 5px;
    margin: 4px 0;
    width: 35px;
  }

  .middle-container {
    height: 40vh;
  }

  #menu-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    float: right;
    height: 100%;
    margin-right: 30px;
  }
}

/* Higher Resolution */
@media (min-width: 2000) {

}
